@page
@using _01_framework.Application
@inject IAuthHelper _authHelper
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var userId = long.Parse(_authHelper.GetUserId(User));

}



<div class="navigation">
    <div class="container">
        <div class="inside">
            <div class="nav nav-tab menu">
                <button class="btn"><img class="avatar-xl" src="~/UploderFiles/@Model.UserModel.Picture"></button>
                <a href="#discussions" data-toggle="tab" class="active"><i class="material-icons active">chat_bubble_outline</i></a>
                <a href="#settings" data-toggle="tab"><i class="material-icons">settings</i></a>
                <a asp-page="/Auth/Login/Index" asp-page-handler="LogOut" class="btn power"><i class="material-icons">power_settings_new</i></a>
            </div>
        </div>
    </div>
</div>

<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">

                <div id="discussions" class="tab-pane fade active show">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" onkeyup="search()" class="form-control" id="searchinput" placeholder="Search for conversations...">
                            <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
                        </form>
                        <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i class="material-icons">create</i></button>
                    </div>
                    <div class="list-group sort">
                        <button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="user">Users</button>
                        <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="groups">Groups</button>
                    </div>
                    <div class="discussions">

                        <div class="list-group" id="searchbar" role="tablist" style="display:none">
                        </div>
                        <div class="list-group" id="chats" role="tablist">

                            @foreach (var item in Model.Groups.PublicGroup)
                            {

                                <a class="filterDiscussions all groups single " id="list-chat-list" data-toggle="list" role="tab" onclick="JoinInGroup('@item.Id')">
                                    <img class="avatar-md" src="~/UploderFiles/@item.Picture" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">

                                    <div class="data">
                                        <h5>@item.GroupTitle</h5>
                                        <span>group</span>
                                    </div>
                                </a>
                            }
                            @foreach (var item in Model.Groups.PrivateGroup)
                            {
                                if (item.OwnerId == userId)
                                {
                                    <a class="filterDiscussions all user single " id="list-chat-list" data-toggle="list" role="tab" onclick="JoinInPrivateGroup('@item.ReciverId')">
                                        <img class="avatar-md" src="~/UploderFiles/@item.ReciverPicture" data-toggle="tooltip" data-placement="top" title="@item.ReciverUserName" alt="@item.ReciverUserName">


                                        <div class="status">
                                            <i id="statususer-@item.ReciverId" class="material-icons @(item.ReciverIsOnline ? "online" :"offline")">fiber_manual_record</i>
                                        </div>



                                        <div class="data">
                                            <h5>@item.ReciverUserName</h5>
                                            <span>user</span>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a class="filterDiscussions all user single " id="list-chat-list" data-toggle="list" role="tab" onclick="JoinInPrivateGroup('@item.OwnerId')">
                                        <img class="avatar-md" src="~/UploderFiles/@item.OwnerPicture" data-toggle="tooltip" data-placement="top" title="@item.OwnerUserName" alt="@item.OwnerUserName">
                                        <div class="status">
                                            <i id="statususer-@item.OwnerId" class="material-icons @(item.OwnerIsOnline ? "online" :"offline")">fiber_manual_record</i>
                                        </div>
                                        <div class="data">
                                            <h5>@item.OwnerUserName</h5>
                                            <span>user</span>
                                        </div>
                                    </a>
                                }


                            }

                        </div>
                    </div>
                </div>


                <!-- Start of Settings -->
                <div class="tab-pane fade" id="settings">
                    <div class="settings">
                        <div class="profile">
                            <img class="avatar-xl" src="~/UploderFiles/@Model.UserModel.Picture">
                            <h1><a href="#">@Model.UserModel.Name</a></h1>
                        </div>

                        <div class="content">
                            <form method="post" asp-page="Index" asp-page-handler="EditAccount" enctype="multipart/form-data">







                                <div class="parent">

                                    <div class="field">
                                        <label>Picture <span>*</span></label>

                                        <input type="file" class="btn button" asp-for="@Model.EditAccount.Avatar" accept="image/*">

                                    </div>
                                    <div class="field">
                                        <label>User Name <span>*</span></label>
                                        <input asp-for="@Model.EditAccount.Name" type="text" class="form-control" placeholder="User name" value="@Model.UserModel.Name" required="">
                                    </div>

                                </div>
                                <div class="field">
                                    <label>Email <span>*</span></label>
                                    <input asp-for="@Model.EditAccount.Email" type="email" class="form-control" value="@Model.UserModel.Email" placeholder="Enter your email address" required="">
                                </div>
                                <div class="field">
                                    <label>Password</label>
                                    <input asp-for="@Model.EditAccount.Password" type="password" class="form-control" placeholder="Enter a new password" value="">
                                </div>
                                <input type="hidden" asp-for="@Model.EditAccount.Id" value="@Model.UserModel.Id" />
                                <label>Apply to register changes</label>
                                <button type="submit" class="btn button w-100 ">Apply</button>
                            </form>
                        </div>




                    </div>
                </div>
                <!-- End of Settings -->
            </div>
        </div>
    </div>
</div>
<!-- End of Sidebar -->
<!-- Start of Add Friends -->
<!-- End of Add Friends -->
<!-- Start of Create Chat -->
<div class="modal fade" id="startnewchat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="requests">
            <div class="title">

                <h1>Create new group</h1>
                <button type="button" id="close" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            </div>
            <div class="content">
                <form enctype="multipart/form-data" onsubmit="insertGroup(event)">

                    <div class="form-group">
                        <label>Group Title:</label>
                        <input type="text" class="form-control" id="topic" placeholder="What's the Title?" required>
                    </div>
                    <div class="form-group">
                        <label>Picture:</label>
                        <input type="file" class="text-control" id="picture" />
                    </div>
                    <button type="submit" class="btn button w-100">Create new group</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of Create Chat -->

<div class="main">


    <div id="startchat" style="
               display:block;
               margin: 480px 480px ;
               padding: 5px 10px">
        <h3>Select a chat to start messaging</h3>
    </div>

    <div class="tab-content" id="nav-tabContent">

        <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">

            <!-- Start of Chat -->
            <div class="chat" id="chat" style="display:none">
                <div class="top">
                    <div class="container">
                        <div class="col-md-12">

                            <div class="inside">

                                <a href="#"><img id="imagegroup" class="avatar-md" src="" data-toggle="tooltip" data-placement="top"></a>

                                <div id="checkstatususer">
                                </div>

                                <div  class="data">
                                    <h5 id="chatname"></h5>
                                    <div id="chatinfo"></div>
                                </div>

                                <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="content" id="content">
                    <div class="container">
                        <div id="chatbody" class="col-md-12">
                        </div>
                    </div>
                </div>

                <div class="container ">
                    <div class="col-md-12">
                        <form class="position-relative w-100" onsubmit="sendmessage(event)">
                            <div class="bottom col-md-12">
                                <div class="col-md-11">
                                    <textarea id="textmessage" class="form-control" placeholder="Start typing for reply..." rows="1" onkeyup="istyping(event)"></textarea>
                                    <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                                    <button type="submit" class="btn send"><i class="material-icons">send</i></button>

                                </div>

                                <div class="col-md-1">

                                    <label>
                                        <input id="fileattach" type="file">
                                        <span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
                                    </label>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>


@section Scripts {

    <script src="~/dist/js/SignalRCustom.js"> </script>

}

